.container {
    width: 1110px;
    margin: auto;
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

.col-6 {
    width: 50%;
}

.align__center {
    align-items: center;
}

.between {
    justify-content: space-between;
}