.header {
    align-items: center;
}

.header__row1 {
    background-color: #c8a35f;
    height: 45px;
    justify-content: space-between;
}

.header__ru,
.header__en,
.header__fr {
    margin-left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    opacity: 0.5;
    cursor: pointer;
}

.header__ru:hover,
.header__en:hover,
.header__fr:hover {
    opacity: 1;
}

.number {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #ffffff;
}

.sales {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #ffffff;
}

.header__row2 {
    background-color: #2f343a;
    height: 100px;
    justify-content: space-between;
}

.header__logo {
    cursor: pointer;
}

.our__offices {
    margin: auto;
    padding-left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #ffffff;
    cursor: pointer;
}

.nav__offices {
    margin-left: 30px;
    padding-left: 30px;
    border-left: 2px solid white;
}

.nav__menu {
    margin-left: 270px;
}

.nav__item {
    margin: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
}
